@model List<RentalViewModel>

@{
    ViewData["Title"] = "Rental History";
}

<h1>Rental History</h1>

@if (!Model.Any())
{
    <p>You have no rental history.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Movie Title</th>
            <th>Rented On</th>
            <th>Returned On</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.Movie.Title</td>
                <td>@rental.RentedOn.ToString("MM/dd/yyyy")</td>
                <td>@rental.ReturnedOn?.ToString("MM/dd/yyyy")</td>
            </tr>
        }
        </tbody>
    </table>
}